# Ignorer les environnements virtuels
venv/
env/

# Fichiers de configuration spécifiques à l'IDE
.idea/
.vscode/
*.code-workspace

# Cache et compilations Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.whl
*.egg-info/ 

# Fichiers de logs
*.log

# Fichiers temporaires du système
.DS_Store
Thumbs.db

# Dépendances de Jupyter
.ipynb_checkpoints/

# Clés et informations sensibles
*.env
*.key
secrets.json

# Fichiers générés par macOS/Linux
*.swp
.swo
*~

.cursorrules